.array {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.orange-square {
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    border-radius: 10px;
    background-color: #E55812;
    height: 40px;
    padding: 40px;
}

.blue-square {
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    border-radius: 10px;
    background-color: #00AFB9;
    height: 40px;
    padding: 40px;
}